
<div ng-repeat="bike in bikes">

	<div class="container">


		<div class="row">
			<div class="col-sm-12 col-xs-12 ">
				<div class="thumbnail bikes pull-left ">
					<img ng-src="images/bikes/{{bike.imageName}}.jpg" />
					<div class="media-body">

						<strong><p style="text-align: center;">{{bike.frame.brand}}
								{{bike.frame.model}}</p> </strong> <br>
						<p>Year of model : {{bike.frame.createdOn}}</p>
						<p>Brake : {{bike.brake.brand}} {{bike.brake.model}},
							{{bike.brake.type}}</p>
						<p>Fork : {{bike.fork.brand}} {{bike.fork.model}}, course
							{{bike.fork.course}} mm. {{bike.fork.type}}</p>
						<p>Frame : {{bike.frame.alloy}},</p>
						<p ng-if="bike.frame.existSnubber">Snubber :
							{{bike.frame.snubberDTO.brandSnubber}}
							{{bike.frame.snubberDTO.modelSnubber}}, course
							{{bike.frame.snubberDTO.courseSnubber}} mm
							{{bike.frame.snubberDTO.typeSnubber}}</p>
						<p ng-if="!bike.frame.existSnubber">Snubber : Is missing</p>
						<p>Rim : {{bike.rim.brand}} {{bike.rim.model}},
							{{bike.rim.type}}, diameter {{bike.rim.diameter}} cm.</p>
						<p>Tire = {{bike.tire.brand}} {{bike.tire.model}},
							{{bike.tire.type}}, diameter {{bike.tire.diameter}} cm.</p>
						<p style="text-align: center; font-size: 18px;">{{bike.price}}
							USD</p>


					</div>

					<div class="buttons pull-right">
						<button href="#" class="btn btn-success"
							data-target="#buyingModal" data-toggle="modal"
							ng-click="changeActiveBike(bike)">Buy</button>
						<button href="#" class="btn btn-success">Backet</button>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<h1>{{maxPrice}}</h1>

<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">bikes
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" id="buyingModal"
	data-keyboard="false" data-backdrop="static">


	<div class="modal-dialog modal-md ">

		<div class="col-sm-12 container">
			<div class="text-center panel panel-default secses">
				<button type="button" class="close" data-dismiss="modal">
					&times;</button>

				<div class="thumbnail bikesModal">
					<strong><p style="font-size: 18px;">{{activeBike.frame.brand}}
							{{activeBike.frame.model}}</p> </strong> <img style="float: none; width: 75%;"
						ng-src="images/bikes/{{activeBike.imageName}}.jpg" />
					<div class="media-body">
						Size = <select>
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select> <br> <br> Number = <input style="float: none"
							class="col-sm-2" type="number" ng-model="countBikes" /> <br>
						<br>
						<p style="font-size: 20px;">{{activeBike.price * countBikes}}
							USD</p>

					</div>


				</div>

				<div class="form-group ">

					<div
						class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group">
						<a type="button" class="btn btn-success">Buy</a>
					</div>

				</div>

			</div>
		</div>
	</div>

</div>
<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="bikes.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlBike}}{{numPage}}"">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>

