<style>
::-webkit-input-placeholder {
	color: black !important;
}

::-moz-placeholder {
	color: black !important;
} /* Firefox 19+ */
:-moz-placeholder {
	color: black !important;
} /* Firefox 18- */
:-ms-input-placeholder {
	color: black !important;
}
</style>

<div ng-repeat="bike in bikes">

	<div class="container">

		<div class="row">
			<div class="col-sm-12 col-xs-12 ">
				<div class="thumbnail bikes pull-left ">
					<img ng-src="images/bikes/{{bike.imageName}}" />
					<div class="media-body">

						<strong><p style="text-align: center;">{{bike.frame.brand}}
								{{bike.frame.model}}</p> </strong> <br>
						<p>Year of model : {{bike.frame.createdOn}}</p>
						<p>Brake : {{bike.brake.brand}} {{bike.brake.model}},
							{{bike.brake.type}}</p>
						<p>Fork : {{bike.fork.brand}} {{bike.fork.model}}, course
							{{bike.fork.course}} mm. {{bike.fork.type}}</p>
						<p>Frame : {{bike.frame.alloy}},</p>
						<p ng-if="bike.frame.existSnubber">Snubber :
							{{bike.frame.snubberDTO.brandSnubber}}
							{{bike.frame.snubberDTO.modelSnubber}}, course
							{{bike.frame.snubberDTO.courseSnubber}} mm.
							{{bike.frame.snubberDTO.typeSnubber}}</p>
						<p ng-if="!bike.frame.existSnubber">Snubber : Is missing</p>
						<p>Rim : {{bike.rim.brand}} {{bike.rim.model}},
							{{bike.rim.type}}, diameter {{bike.rim.diameter}} cm.</p>
						<p>Tire = {{bike.tire.brand}} {{bike.tire.model}},
							{{bike.tire.type}}, diameter {{bike.tire.diameter}} cm.</p>
						<p style="text-align: center; font-size: 18px;">{{bike.price}}
							USD</p>
					</div>


					<!-- <form ng-show="currentUser.role == 'ADMIN' "
						id="formUpload{{bike.imageName}}" action=""
						enctype="multipart/form-data" method="post" accept-charset="UTF-8">
						<div class="form-group">

							<input   accept="image/*,image/jpeg" ng-click="changeUrlPhoto(bike.imageName)" type="file"
								id="file {{bike.imageName}}" name="file" class="file">
							
       
								
							<div class="input-group col-xs-5">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-picture"></i></span> <input type="text"
									class="form-control input-md" disabled
									placeholder="Upload Image"> <span
									class="input-group-btn">
									<button ng-click="sendFile(bike.imageName)"
										class="browse btn btn-primary input-md" type="button">
										<i class="glyphicon glyphicon-search"></i> Browse
									</button> <input disabled id="Send {{bike.imageName}}" type="submit"
									class="btn btn-success input-md" value="Send">
								</span>
							</div>
						</div>
					</form>
					
				-->
					<h1>currentBikeId = {{currentBikeId}}</h1>

					<form ng-show="currentUser.role == 'ADMIN' "
						id="formUpload {{bike.id}}" action=""
						enctype="multipart/form-data" method="post" accept-charset="UTF-8">


						<div class="col-sm-5 col-sm-offset-0 col-xs-5 col-xs-offset-0">
							<div class="input-group image-preview">
								<input id="placeHolder {{bike.id}}" type="text"
									class="form-control image-preview-filename" disabled
									placeholder="Upload Image"> <span
									class="input-group-btn">

									<div class="btn btn-default image-preview-input">
										<span class="glyphicon glyphicon-folder-open"></span> <span
											class="image-preview-input-title">Browse</span> <input
											onchange="angular.element(this).scope().filesChanged(this)"
											ng-click="changeBikeId(bike.id)" type="file"
											accept="image/png, image/jpeg, image/gif" name="file"
											class="file" />

									</div> <input disabled id="send {{bike.id}}" type="submit"
									class="btn btn-success input-md" value="Send">
								</span>
							</div>
						</div>

					</form>







					<div class="buttons pull-right">
						<a type="button" href="#!/purchaseProduct" class="btn btn-success"
							ng-click="buyProduct(bike)" href="#!/purchaseProduct">Buy</a> <a
							type="button" ng-click="addToBacket(bike)"
							class="btn btn-success">Backet</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>



<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p
						style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">bikes
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>



<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="bikes.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlBike}}{{numPage}}"">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>

