
<div ng-repeat="bike in bikes">

	<div class="container">


		<div class="row">
			<div class="col-sm-12 col-xs-12 ">
				<div class="thumbnail bikes pull-left ">
					<img ng-src="images/bikes/{{bike.imageName}}.jpg" />
					<div class="media-body">

						<strong><p style="text-align: center;">{{bike.frame.brand}}
								{{bike.frame.model}}</p> </strong> <br>
						<p>Year of model : {{bike.frame.createdOn}}</p>
						<p>Brake : {{bike.brake.brand}} {{bike.brake.model}},
							{{bike.brake.type}}</p>
						<p>Fork : {{bike.fork.brand}} {{bike.fork.model}}, course
							{{bike.fork.course}} mm. {{bike.fork.type}}</p>
						<p>Frame : {{bike.frame.alloy}},</p>
						<p ng-if="bike.frame.existSnubber">Snubber :
							{{bike.frame.snubberDTO.brandSnubber}}
							{{bike.frame.snubberDTO.modelSnubber}}, course
							{{bike.frame.snubberDTO.courseSnubber}} mm
							{{bike.frame.snubberDTO.typeSnubber}}</p>
						<p ng-if="!bike.frame.existSnubber">Snubber : Is missing</p>
						<p>Rim : {{bike.rim.brand}} {{bike.rim.model}},
							{{bike.rim.type}}, diameter {{bike.rim.diameter}} cm.</p>
						<p>Tire = {{bike.tire.brand}} {{bike.tire.model}},
							{{bike.tire.type}}, diameter {{bike.tire.diameter}} cm.</p>
						<p style="text-align: center; font-size: 18px;">{{bike.price}}
							USD</p>


					</div>

					<div class="buttons pull-right">
						<a type="button" href="#!/purchaseProduct" class="btn btn-success"
							ng-click="buyProduct(bike)"  href="#!/purchaseProduct">Buy</a>
						<a type="button" href="#" class="btn btn-success">Backet</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>


<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">bikes
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>



<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="bikes.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlBike}}{{numPage}}"">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>

