
<div class="container">


	<div class="row">
		<div class="col-sm-4  col-xs-6" ng-repeat="frame in frames">

			<div class="thumbnail product">
				<img ng-src="images/frames/{{frame.imageName}}" />

				<div class="media-body" style="font-size: 15px; color: black;">

					<strong><p style="text-align: center;">{{frame.brand}}
							{{frame.model}} {{frame.createdOn}}</p> </strong>
					<p>Type: {{frame.type}}</p>
					<p>Alloy: {{frame.alloy}}</p>

					<div ng-if="frame.existSnubber">
						<p>Brand Snubber : {{frame.snubberDTO.brandSnubber}}</p>
						<p>Model Snubber : {{frame.snubberDTO.modelSnubber}}</p>
						<p>Type Snubber : {{frame.snubberDTO.typeSnubber}}</p>
						<p>Course Snubber : {{frame.snubberDTO.courseSnubber}}</p>
					</div>

					<div ng-if="!frame.existSnubber">
						<p>Brand Snubber : -</p>
						<p>Model Snubber :-</p>
						<p>Type Snubber : -</p>
						<p>Course Snubber : -</p>

					</div>

					<p style="text-align: center; font-size: 18px;">{{frame.price}}
						USD</p>



					<div class="buttons pull-right">
						<a type="button" class="btn btn-success"
							ng-click="buyProduct(frame)" href="#!/purchaseProduct">Buy</a>
						<button ng-click="addToBacket(frame)" class="btn btn-success">Backet</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p
						style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">frames
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>




<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="frames.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlFrame}}{{numPage}}"">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a style="cursor: pointer;"
			class="page-link"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>



