
<div class="container">


	<div class="row">
		<div class="col-sm-4  col-xs-6" ng-repeat="rim in rims">

			<div class="thumbnail product">
				<img ng-src="images/rims/{{rim.imageName}}.jpg" />

				<div class="media-body" style="font-size: 15px; color: black;">

					<strong><p style="text-align: center;">{{rim.brand}}
							{{rim.model}}</p> </strong>

					<p>Year of model : {{rim.createdOn}}</p>
					<p>Type: {{rim.type}}</p>
					<p>Diameter: {{rim.diameter}} cm.</p>


					<p style="text-align: center; font-size: 18px;">{{rim.price}}
						USD</p>


					<div class="buttons pull-right">
						<button href="#" class="btn btn-success"
							data-target="#buyingModal" data-toggle="modal"
							ng-click="changeActiveRim(rim)">Buy</button>
						<button href="#" class="btn btn-success">Backet</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">rims
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" tabindex="-1" id="buyingModal"
	data-keyboard="false" data-backdrop="static">


	<div class="modal-dialog modal-md ">

		<div class="col-sm-12 container">
			<div class="text-center panel panel-default secses">
				<button type="button" class="close" data-dismiss="modal">
					&times;</button>

				<div class="thumbnail bikesModal">
					<strong><p style="font-size: 18px;">{{activeRim.brand}}
							{{activeRim.model}}</p> </strong> <img style="float: none; width: 60%;"
						ng-src="images/rims/{{activeRim.imageName}}.jpg" />
					<div class="media-body">
						<br> <br> Number = <input style="float: none"
							class="col-sm-2" type="number" ng-model="countRims" /> <br>
						<br>
						<p style="font-size: 20px;">{{activeRim.price * countRims}}
							USD</p>

					</div>


				</div>

				<div class="form-group ">

					<div
						class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group">
						<a type="button" class="btn btn-success">Buy</a>
					</div>

				</div>

			</div>
		</div>
	</div>

</div>

<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="rims.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlRim}}{{numPage}}">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>
