<style>
::-webkit-input-placeholder {
	color: black !important;
}

::-moz-placeholder {
	color: black !important;
} /* Firefox 19+ */
:-moz-placeholder {
	color: black !important;
} /* Firefox 18- */
:-ms-input-placeholder {
	color: black !important;
}
</style>

<div class="container">


	<div class="row">
		<div class="col-sm-4  col-xs-6" ng-repeat="rim in rims">

			<div class="thumbnail product">
				<img ng-src="images/rims/{{rim.imageName}}" />

				<div class="media-body" style="font-size: 15px; color: black;">

					<strong><p style="text-align: center;">{{rim.brand}}
							{{rim.model}}</p> </strong>

					<p>Year of model : {{rim.createdOn}}</p>
					<p>Type: {{rim.type}}</p>
					<p>Diameter: {{rim.diameter}} cm.</p>


					<p style="text-align: center; font-size: 18px;">{{rim.price}}
						USD</p>


					<form ng-show="currentUser.role == 'ADMIN' "
						id="formUpload {{rim.id}}" action="" enctype="multipart/form-data"
						method="post" accept-charset="UTF-8">


						<div class="col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
							<div class="input-group image-preview">
								<input id="placeHolder {{rim.id}}" type="text"
									class="form-control image-preview-filename" disabled
									placeholder="Upload Image"> <span
									class="input-group-btn">

									<div class="btn btn-default image-preview-input">
										<span class="glyphicon glyphicon-folder-open"></span> <span
											class="image-preview-input-title">Browse</span> <input
											onchange="angular.element(this).scope().filesChanged(this)"
											ng-click="changeRimId(rim.id)" type="file"
											accept="image/png, image/jpeg, image/gif" name="file"
											class="file" />

									</div> <input disabled id="send {{rim.id}}" type="submit"
									class="btn btn-success input-md" value="Send">
								</span>
							</div>
						</div>

					</form>

					<br> <br>


					<div class="buttons pull-right">
						<a type="button" class="btn btn-success"
							ng-click="buyProduct(rim)" href="#!/purchaseProduct">Buy</a>
						<button ng-click="addToBacket(rim)" class="btn btn-success">Backet</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="container" ng-if="isEmpty">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
			<div class="thumbnail bikes pull-left ">
				<div class="media-body">
					<p
						style="text-align: center; color: red; font-size: 18px; text-transform: uppercase;">rims
						has not been found</p>
				</div>
			</div>
		</div>
	</div>
</div>




<nav aria-label="Page navigation example" style="text-align: center;"
	ng-show="rims.length != 0">
	<ul class="pagination" ng-show="paginationParam.isPrevious">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.previous(url, paginationParam.masPages[0]-1)">Previous</a></li>
	</ul>
	<ul class="pagination" ng-repeat="numPage in paginationParam.masPages">
		<li class="page-item"><a class="page-link"
			href="{{urlRim}}{{numPage}}">{{numPage}}</a></li>
	</ul>
	<ul class="pagination" ng-show="paginationParam.isNext">
		<li class="page-item"><a class="page-link"
			style="cursor: pointer;"
			ng-click="paginationService.next(url, paginationParam.masPages[4]+1)">Next</a></li>
	</ul>
</nav>
