.panel-heading {
	font-size: 20px;
}

@media (max-width: 768px) {
	.input-group{
	margin-bottom: 5px;
	}
	

}

@media (max-width: 993px) {
	.input-group{
	margin-bottom: 5px;
	}
	
}


.breand {
	max-height: 25px;
}

.center {
	display: flex;
}

.panel-default>.panel-heading {
	background-color: #71d271;
	text-align: center;
}

a {
	fondt-size: 15px;
}

