




<div ng-repeat="bike in bikes">

	<div class="container">




		<div class="row">

			<div class="col-sm-12  col-xs-7">
			
					<div class="thumbnail pull-left">
						<img src="images/{{bike.imageName}}.jpg"   width="410" height="500"
							/>
						<div class="media-body">
							<h5>Bike = {{bike.frame.brand}}</h5> 
							<h5>Model = {{bike.frame.model}}</h5>
							<h5>Price = {{bike.price}}</h5>
							<h5>Type = {{bike.frame.type}}</h5>
							<h5>Brake = {{bike.brake.brand}}</h5>
							<h5>Fork = {{bike.fork.brand}}</h5>
							<h5>Frame = {{bike.frame.model}}</h5>
							<h5>Rim = {{bike.rim.brand}}</h5>
							<h5>Tire = {{bike.tire.brand}}</h5>
		
							
								<div class = "buttons pull-right">
								<button href="#" class="btn btn-success">Buy</button> <button href="#"
								class="btn btn-success">Backet</button>
					</div>				

					</div>

				</div>
			</div>





		</div>
	</div>
</div>




