




<div ng-repeat="bike in bikes">

	<div class="container">




		<div class="row">

			<div class="col-sm-12  col-xs-7">

				<div class="thumbnail pull-left">
					<img ng-src="images/bikes/{{bike.imageName}}.jpg" width="415"	/>
					<div class="media-body">
						<h4>Bike = {{bike.frame.brand}}</h4>
						<h5>Model = {{bike.frame.model}}</h5>
						<h5>Price = {{bike.price}}</h5>
						<h5>Type = {{bike.frame.type}}</h5>
						<h5>Brake = {{bike.brake.brand}}</h5>
						<h5>Fork = {{bike.fork.brand}}</h5>
						<h5>Frame = {{bike.frame.model}}</h5>
						<h5>Rim = {{bike.rim.brand}}</h5>
						<h5>Tire = {{bike.tire.brand}}</h5>


						<div class="buttons pull-right">
							<button href="#" class="btn btn-success">Buy</button>
							<button href="#" class="btn btn-success">Backet</button>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>




