<div
	class="col-sm-4 col-sm-offset-4  col-xs-8 col-xs-offset-2 container"
	id="login">
	<div class="panel panel-default">
		<div class="panel-heading">write your Email and new password</div>
		<div class="panel-body">
			<form id="forgotPassword-form" class="form-horizontal">

				<div class="form-group" ng-class="{'has-error': isWarning == true}">

					<div
						class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">
						<input type="text" class="form-control" name="email" id="email"
							placeholder="Email" ng-model="forgotPasswordParam.eMail" />
					</div>

				</div>

				<div class="form-group">

					<div
						class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">
						<input type="password" class="form-control" name="password"
							id="password" placeholder="Password"
							ng-model="forgotPasswordParam.password" />
					</div>

				</div>

				<div class="form-group ">
					<div
						class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">
						<input type="password" class="form-control" name="confirmPassword"
							ng-model="confPassword" placeholder="Confirm password" />
					</div>
				</div>



				<div class="form-group ">

					<div
						class="col-sm-4 col-sm-offset-2 col-xs-2 col-xs-offset-2 input-group">
						<button type="submit" class="btn btn-success"
							id="fordotPasswordSubmit">Change password</button>
					</div>

				</div>
				<div class="warning">{{message}}</div>
			</form>

		</div>
	</div>
</div>







<div data-target="#forgotPasswordModal" data-toggle="modal"></div>
<div class="modal fade" tabindex="-1" id="forgotPasswordModal"
	data-keyboard="false" data-backdrop="static">

	<div class="modal-dialog modal-md ">


		<div
			class="col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2 container">
			<div class="text-center panel panel-default secses">
				<div class="panel-heading">Congratulations, you changed your
					password</div>
				<div class="panel-body">


					<span style="font-size: 9em;" class="glyphicon glyphicon-ok-circle"></span>


				</div>


				<div class="form-group ">

					<div
						class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group">
						<a type="button" href="/" class="btn btn-success"
							ng-click="hideModal()">Home page</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>







