


	<div
		class="col-sm-4 col-sm-offset-4  col-xs-4 col-xs-offset-4 container" id="login">
		<div class="text-center panel panel-default">
			<div class="panel-heading">Congratulations, you have successfully registered</div>
		<div class="panel-body">


			<span style="font-size: 9em;" class="glyphicon glyphicon-ok-circle"></span>
			<br>
			<h4>In your email was send email</h4>
		</div>


		<div class="form-group ">

						<div
							class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group">
							<button type="submit" class="btn btn-success">Log in</button>
						</div>
						
					</div>

				
			</div>
		</div>
	</div>


    