<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 container"
	id="profile">
	<div class="panel panel-default">
		<div class="panel-heading">profile</div>

		<div class="panel-body">
			<form id="profile-form" class="form-horizontal">
				<div class="form-group ">
					<div
						class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">

						<label class="col-xs-6 ">First name</label> <input
							class="col-xs-4 form-control
							type="
							text"
							name="firstName" placeholder="First name"
							value="{{ newUser.firstName }}"
							ng-model="newUser.firstName"/>


					</div>
				</div>

				<div class="form-group ">
					<div
						class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">

						<label class="col-xs-6 ">Last name</label> <input
							class="col-xs-4 form-control
							type="
							text"
							name="lastName" placeholder="Last name"
							value="{{ newUser.lastName }}"
							ng-model="newUser.lastName"/>

					</div>
				</div>



					<div class="form-group ">
						<label class="col-xs-6 col-sm-offset-2 ">Email</label>
						<div
							class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 input-group">

							<span ng-click="changeEmail = !changeEmail" style="top:1%; color: black;"
								class="input-group-addon btn glyphicon glyphicon-pencil "></span>
							<input ng-disabled="changeEmail"
								class="col-xs-4 form-control
							type="
								text"
							name="email" placeholder="Email"
								value="{{ newUser.email }}" ng-model="newUser.email" />
						</div>
						<label id="email-error" class="help-block" for="email" style="display: block; text-align: center"> </label>
					</div>


				<div
					class="col-sm-4 col-sm-offset-2 col-xs-2 col-xs-offset-2 input-group">
					<button type="submit" id="changeSubmit"
						class="change btn btn-success">Change</button>
				</div>

			</form>

		</div>
	</div>
</div>


<h1>newUser - {{newUser}}</h1>

<div class="modal fade" tabindex="-1" id="profileModal"
	data-keyboard="false" data-backdrop="static">

	<div class="modal-dialog modal-md ">


		<div
			class="col-sm-8 col-sm-offset-2  col-xs-8 col-xs-offset-2 container">
			<div class="text-center panel panel-default secses">
				<div class="panel-heading">Congratulations, you have changed
					your profile</div>
				<div class="panel-body">


					<span style="font-size: 9em;" class="glyphicon glyphicon-ok-circle"></span>
					<br>
					
				</div>


				<div class="form-group ">

					<div
						class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group">
						<a type="button" href="/" class="btn btn-success"
							ng-click="hideModal()">Home page</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>