
	<div class="container">


		<div class="row">
			<div class="col-sm-4  col-xs-6" ng-repeat="tire in tires">

				<div class="thumbnail product">
					<img ng-src="images/tires/{{tire.imageName}}.jpg" 
						 />

					<div class="media-body">
						<h5>Bike = {{tire.brand}}</h5>
						<h5>Model = {{tire.model}}</h5>
						<h5>Price = {{tire.price}}</h5>
						<h5>Type = {{tire.type}}</h5>


						<div class="buttons pull-right">
							<button href="#" class="btn btn-success">Buy</button>
							<button href="#" class="btn btn-success">Backet</button>
						</div>

					</div>

				</div>
			</div>

		</div>



	</div>
