<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Insert title here</title>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/registration.css}">
<link rel="stylesheet" th:href="@{/css/bikes.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
<link rel="stylesheet" th:href="@{/css/product.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<script th:src="@{/js/navigate.js}"></script>
<script th:src="@{/js/controller/homeCntrl.js}"></script>
<script th:src="@{/js/controller/loginCntrl.js}"></script>
<script th:src="@{/js/controller/registrationCntrl.js}"></script>
<script th:src="@{/js/controller/bikeCntrl.js}"></script>
<script th:src="@{/js/controller/forgotPasswordCntrl.js}"></script>
<script th:src="@{/js/controller/frameCntrl.js}"></script>
<script th:src="@{/js/controller/forkCntrl.js}"></script>
<script th:src="@{/js/controller/rimCntrl.js}"></script>
<script th:src="@{/js/controller/tireCntrl.js}"></script>
<script th:src="@{/js/controller/brakeCntrl.js}"></script>




</head>
<body ng-app="myApp" ng-controller="home">


	<nav class="navbar navbar-default menu ">
		<div class="container col-sm-12">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>


			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active-link "><a href="/"><span
							class="glyphicon glyphicon-home  "></span> головна</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">велосипеди <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/mountainBikes">горні</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/allMountainBikes">двохпідвіси</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/racingBikes">шосейні</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">запчастини<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/frames">рами</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/forks">вилки</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/rims">обіда</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/tires">шини</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/brakes">тормоза</a></li>
						</ul></li>
					<li><a href="#">контакти <span class="sr-only"></span></a></li>

				</ul>
				<form class="navbar-form navbar-left">
					<div class="btn-group " >

						<select class="form-control selectSearch" ng-model="searchObject">
							<option ng-repeat="object in searchObjects">{{object}}</option>


						</select>
					</div>
					<div class="input-group">

						<input type="text" class="form-control" placeholder="Пошук"
							ng-model="searchWord" /> <span class="input-group-btn">


							<button class="btn btn-primary" type="button">Search</button>

						</span>

					</div>
					<!-- Single button -->

				</form>

				<ul class="nav navbar-nav navbar-right">
					<li><a class="login" href="#!/login"> <span
							class="glyphicon glyphicon-log-in"></span> логін
					</a></li>
					<li><a class="registration" href="#!/registration"> <span
							class="glyphicon glyphicon-user"></span> реєстрація
					</a></li>
				</ul>
			</div>



		</div>

	</nav>

	<div ng-view></div>






</body>
</html>