<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<title>Insert title here</title>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.css">
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<link rel="stylesheet"
	href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/registration.css}">
<link rel="stylesheet" th:href="@{/css/bikes.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
<link rel="stylesheet" th:href="@{/css/product.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script th:src="@{/js/chosen.jquery.min.js}"></script>
<script
	src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>




<script th:src="@{/js/navigate.js}"></script>
<script th:src="@{/js/controller/homeCntrl.js}"></script>
<script th:src="@{/js/controller/loginCntrl.js}"></script>
<script th:src="@{/js/controller/registrationCntrl.js}"></script>
<script th:src="@{/js/controller/forgotPasswordCntrl.js}"></script>
<script th:src="@{/js/controller/profileCntrl.js}"></script>
<script th:src="@{/js/controller/product/frameCntrl.js}"></script>
<script th:src="@{/js/controller/product/forkCntrl.js}"></script>
<script th:src="@{/js/controller/product/rimCntrl.js}"></script>
<script th:src="@{/js/controller/product/tireCntrl.js}"></script>
<script th:src="@{/js/controller/product/brakeCntrl.js}"></script>
<script th:src="@{/js/controller/product/allMountainBikeCntrl.js}"></script>
<script th:src="@{/js/controller/product/mountainBikeCntrl.js}"></script>
<script th:src="@{/js/controller/product/racingBikeCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchBikesCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchBrakeCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchForkCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchFrameCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchRimCntrl.js}"></script>
<script th:src="@{/js/controller/searchProduct/searchTireCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageBikeCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageFrameCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageBrakeCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageForkCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageRimCntrl.js}"></script>
<script th:src="@{/js/controller/changeImage/changeImageTireCntrl.js}"></script>
<script th:src="@{/js/controller/purchaseProductCntrl.js}"></script>
<script th:src="@{/js/controller/usersCntrl.js}"></script>
<script th:src="@{/js/factory/productFactory.js}"></script>
<script th:src="@{/js/factory/basketFactory.js}"></script>
<script th:src="@{/js/factory/currentUser.js}"></script>
<script th:src="@{/js/factory/purchaseProductFactory.js}"></script>
<script th:src="@{/js/service/productService.js}"></script>
<script th:src="@{/js/service/paginationService.js}"></script>
<script th:src="@{/js/service/multiparFormService.js}"></script>
<script th:src="@{/js/directives/fileModel.js}"></script>






</head>
<body ng-app="myApp" ng-controller="home">

	<nav class="navbar navbar-default menu ">
		<div class="container col-sm-12">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>


			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active-link "><a href="#/"><span
							class="glyphicon glyphicon-home  "></span> home</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">bikes <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/mountainBikes/1">mountains</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/allMountainBikes/1">all mountains</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/racingBikes/1">Road</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">spare parts<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/frames/1">frames</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/forks/1">forks</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/rims/1">rims</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/tires/1">tires</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/brakes/1">brakes</a></li>
						</ul></li>
					<li><a style="cursor: pointer;" ng-click="changeSearchForm()"><span
							class="glyphicon glyphicon-search"></span> Search<span
							class="sr-only "></span></a></li>

					<li sec:authorize="hasAuthority('ADMIN')" class="dropdown"><a
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">change images<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/changeImageBikes/1">bikes</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/changeImageFrames/1">frames</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/changeImageForks/1">forks</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/changeImageRims/1">rims</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/changeImageTires/1">tires</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#/changeImageBrakes/1">brakes</a></li>
						</ul></li>
					<li sec:authorize="hasAuthority('ADMIN')"><a href="#/users/1">users
							<span class="sr-only"></span>
					</a></li>

				</ul>


				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="countPrice()"
						ng-if="basketFactory.length > 0" data-target="#backetModal"
						data-toggle="modal" style="cursor: pointer"><span
							style="color: green;" id="basket"
							class="glyphicon glyphicon-shopping-cart basket">{{basketFactory.length}}</span>
					</a> <a ng-if="basketFactory.length == 0" data-target="#backetModal"
						data-toggle="modal" style="pointer-events: none; cursor: default;">
							<span id="basket"
							class="glyphicon glyphicon-shopping-cart basket">{{basketFactory.length}}</span>
					</a>
				</ul>


				<div sec:authorize="!hasAuthority('ADMIN') && !hasAuthority('USER')">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="login" href="#/login"> <span
								class="glyphicon glyphicon-log-in"></span> login
						</a></li>
						<li><a class="registration" href="#/registration"> <span
								class="glyphicon glyphicon-user"></span> registration
						</a></li>
					</ul>
				</div>

				<div sec:authorize="hasAuthority('ADMIN') || hasAuthority('USER')">

					<ul class="nav navbar-nav navbar-right">
						<li><a class="logout" ng-click="logout()" class="logout"
							href=""> <span class="glyphicon glyphicon-log-out"></span>
								logout
						</a></li>

						<li><a class="profile" href="#/profile"> <span
								class="glyphicon glyphicon-cog"></span> profile
						</a></li>
					</ul>
				</div>
			</div>



		</div>

	</nav>

	<h1>CURENT USER - {{currentUser}}</h1>

	<div class="search" ng-show="showSearchForm">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-section">
						<div class="row">
							<form role="form" id="search-form">
								<div class="col-md-4 col-md-offset-2  col-xs-4 col-xs-offset-2">
									<div class="form-group">
										<label class="sr-only"></label> <input type="text"
											name="searchWord" ng-model="searchWord" class="form-control"
											placeholder="Search word">
									</div>
								</div>

								<div class="col-md-4   col-xs-4 ">
									<div class="form-group">
										<select name="selectProduct" ng-model="searchProduct"
											ng-change="change(searchProduct)" class="form-control">
											<option ng-repeat="product in searchProducts">{{product}}</option>

										</select>
									</div>
								</div>

								<div class="col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2">
									<div class="form-group" ng-show="searchProduct != '' ">
										<rzslider style="font-size:15px"
											rz-slider-model="slider.minValue"
											rz-slider-high="slider.maxValue"
											rz-slider-options="slider.options"></rzslider>
									</div>
								</div>


								<div class="col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-5">
									<button type="submit" id="searchSubmit" style="font-size: 15px"
										class="btn btn-primary glyphicon glyphicon-search">
										Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br ng-show="showSearchForm"></br>


	<div class="modal fade" tabindex="-1" id="backetModal"
		data-keyboard="true" ng-hide="basketFactory.length == 0">

		<div class="modal-dialog modal-lg pull-right">


			<div
				class="container col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2"
				style="background-color: white;">


				<div class="row">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<div class="col-sm-12 col-xs-6"
						ng-repeat="product in basketFactory">

						<div class="thumbnail product" style="border: 2px solid;">

							<img ng-src="images/{{product.product}}/{{product.imageName}}" />

							<div class="media-body" style="font-size: 15px; color: black;">

								<strong><p style="text-align: center;">{{product.brand}}
										{{product.model}}</p> </strong>

								<div style="text-align: center;">
									<input style="text-align: center;" type="number" name="amount"
										value="{{product.amount}}" ng-model="product.amount"
										ng-change="changePriceProduct(product, product.amount)"
										min="1">
									</p>
								</div>

								<p style="text-align: center; font-size: 18px;">{{product.price}}
									USD</p>

								<div class="buttons">
									<button ng-click="deleteProduct(product)"
										class="btn btn-danger">Delete</button>
								</div>

							</div>

						</div>
					</div>



					<div class="form-group ">

						<div
							class="col-sm-10 col-sm-offset-1 col-xs-2 col-xs-offset-2 input-group"
							style="text-align: left;">
							<p style="text-align: center; font-size: 18px;">Price =
								{{price}} USD</p>

							<a id="buyProduct" type="button" href="/purchaseProduct"
								class="btn btn-success col-sm-offset-2"
								ng-click="buyProductInBasket()">Buy</a> <a id="deleteProduct"
								type="button" class="btn btn-danger col-sm-offset-3"
								ng-click="deleteAllProduct()">Delete All</a>
						</div>

					</div>

					<div class="form-group ">

						<div
							class="col-sm-4 col-sm-offset-4 col-xs-2 col-xs-offset-2 input-group"
							style="text-align: right;"></div>

					</div>

				</div>
			</div>
		</div>
	</div>


	<div ng-view></div>





</body>
</html>