<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Insert title here</title>
<base href="/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.css">

<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/registration.css}">
<link rel="stylesheet" th:href="@{/css/bikes.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
<link rel="stylesheet" th:href="@{/css/product.css}">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
<script type="text/javascript"
	src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
<script
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>
	<script th:src= "@{/js/ui-bootstrap-tpls-2.5.0.min.js}" ></script>
	

<script th:src="@{/js/navigate.js}"></script>
<script th:src="@{/js/controller/homeCntrl.js}"></script>
<script th:src="@{/js/controller/loginCntrl.js}"></script>
<script th:src="@{/js/controller/registrationCntrl.js}"></script>
<script th:src="@{/js/controller/forgotPasswordCntrl.js}"></script>
<script th:src="@{/js/controller/frameCntrl.js}"></script>
<script th:src="@{/js/controller/forkCntrl.js}"></script>
<script th:src="@{/js/controller/rimCntrl.js}"></script>
<script th:src="@{/js/controller/tireCntrl.js}"></script>
<script th:src="@{/js/controller/brakeCntrl.js}"></script>
<script th:src="@{/js/controller/allMountainBikeCntrl.js}"></script>
<script th:src="@{/js/controller/mountainBikeCntrl.js}"></script>
<script th:src="@{/js/controller/racingBikeCntrl.js}"></script>
<script th:src="@{/js/factory/productFactory.js}"></script> 
<script th:src="@{/js/service/productService.js}"></script> 




</head>
<body ng-app="myApp" ng-controller="home">

	<nav class="navbar navbar-default menu ">
		<div class="container col-sm-12">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>


			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active-link "><a href="/"><span
							class="glyphicon glyphicon-home  "></span> головна</a></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">велосипеди <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/mountainBikes/1">горні</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/allMountainBikes/1">двохпідвіси</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/racingBikes/1">шосейні</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">запчастини<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#!/frames/1">рами</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/forks/1">вилки</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/rims/1">обіда</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/tires/1">шини</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#!/brakes/1">тормоза</a></li>
						</ul></li>
					<li><a href="#">контакти <span class="sr-only"></span></a></li>

				</ul>




				<button class="btn btn-primary search" ng-click="changeSearchForm()" type="button">Search</button>



				<ul class="nav navbar-nav navbar-right">
					<li><a class="login" href="#!/login"> <span
							class="glyphicon glyphicon-log-in"></span> логін
					</a></li>
					<li><a class="registration" href="#!/registration"> <span
							class="glyphicon glyphicon-user"></span> реєстрація
					</a></li>
				</ul>
			</div>



		</div>

	</nav>
	
	
	
	
	<div class="container" ng-show="showSearchForm">
    <div class="row">    
        <div class="col-xs-6 col-xs-offset-3">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">Contains</a></li>
                      <li><a href="#its_equal">It's equal</a></li>
                      <li><a href="#greather_than">Greather than ></a></li>
                      <li><a href="#less_than">Less than < </a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
	</div>
</div>
	
      <br ng-if="showSearchForm"></br>
      
	<div ng-view></div>
	

<h1>{{showSearchForm}}</h1>

<h1>{{location.path()}}</h1>




</body>
</html>