.loginGlyp {
   left:-26px;
   top:32px;
   font-size: 20px
}

.passwordGlyp {
   left:-26px;
   top:32px;
   font-size: 20px
}

.warning {
	margin-top: 10px;
    font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	color:red;
}
